html,
body,
section,
header {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding: 0;
    box-sizing: border-box;
    font-family:
        courier New,
        serif;
    background-color: #f1faee;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: right;
    width: 100vw;
}

#logo-card-container {
    /* border: 1px solid black;
    border-radius: 5px;*/
    display: flex;
    flex-direction: column;
    font-family: "Edu QLD Beginner", cursive;
    position: fixed;
    margin: 5px;
    padding: 5px 15px;
    animation: fadeIn 0.5s linear;
}


#featured {
    padding: 5px;
    margin: 5px;
}

.img-thumbnail {
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.img-thumbnail:hover {
    width: 80%;
    transition: 1s;
}

.title {
    color: #001440;
    line-height: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-item,
.mid-item,
.low-item {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
}

.top-item {
    flex-direction: column;
}

.mid-item {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mid-item ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid-item li {
    width: 50%;
    margin-top: 20px;
}

#social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#featured-header-container {
    text-align: center;
}

.low-item {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
}

/*/////////////////////////////////BUTTONS///////////////////////////////////////*/
.btn-all,
.btn-featured,
.btn-about {
    border: 1px solid black;
    background-color: rgba(241, 250, 238, 0.9);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px;
    width: 30%;
    text-decoration: none;
    text-align: center;
}

.btn-featured {
    color: #900339;
    font-weight: 700;
}

.btn-social {
    width: 112px;
}

/*/////////////////////////////////MEDIA QUERIES///////////////////////////////*/

@media (width < 600px) {
    li {
        justify-content: center;
    }

    .top-item {
        align-items: center;
        /*  font-size: 14px;*/
    }

    /* .mid-item {
        box-sizing: border-box;
        margin-top: auto;
        margin-bottom: auto;
    }*/
    .mid-item li {
        width: 90%;
    }

    .low-item {
        align-items: center;
    }

    .low-item a {
        width: 40%;
    }

    .img-thumbnail {
        width: 80%;
    }

    /*
    .btn-social {
        width: 96px;
    }
    */
}

@media (width < 400px) {
    .img-thumbnail {
        width: 40%;
    }
}

/*ANIMATIONS*/

@keyframes fadeIn {
    from {
        opacity: 0; /* Start fully transparent */
        transform: translateX(20px); /* Start slightly lower */
    }
    to {
        opacity: 1; /* End fully opaque */
        transform: translateY(0); /* End at original position */
    }
}
